<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>

    <meta charset="UTF-8">
    <title>ВТБ24</title>
    <link rel="stylesheet" type="text/css" href="vtb_meta_files/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="vtb_meta_files/ui-bootstrap-csp.css">
    <link rel="stylesheet" type="text/css" href="vtb_meta_files/main.css">
    <script data-main="js/main" src="vtb_meta_files/require.js"></script>
</head>
<body>
    <div class="ng-scope" ng-controller="AppCtrl">
        <nav style="background-color: rgba(255, 255, 255, 0.35); border-bottom-color: rgb(247, 247, 247); min-height: 72.61px;" class="navbar navbar-default navbar-fixed-top" id="menu">
            <div class="container">
                <div style="line-height: 57.61px;" class="nav navbar-nav hamburger">
                    <a href="" ng-click="toggleDropdownMenu()"><img src="vtb_meta_files/0.gif" class="icon icon-hamburger"></a>
                </div>
                <div style="line-height: 62.61px; font-size: 35.81px; padding-right: 3.54px;" class="nav navbar-nav clock">
                    <span ng-bind="currentTimeHours" class="digits ng-binding">10</span><span class="dots">:</span><span class="ng-binding" ng-bind="currentTimeMins">47</span>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown active">
                            <a style="line-height: 62.61px;" href="#" class="dropdown-toggle big" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Частным лицам <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Частным лицам</a></li>
                                <li><a href="#">Корпоративным клиентам</a></li>
                            </ul>
                        </li>
                        <li><a style="line-height: 62.61px;" href="#">Офисы и банкоматы</a></li>
                        <li><a style="line-height: 62.61px;" href="#">Обратная связь</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right login">
                        <li><a style="line-height: 62.61px;" href="#" class="big">Интернет-банк <img src="vtb_meta_files/0.gif" class="avatar"></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div style="top: -12.75px;" class="dropdown-menu-block" ng-class="{'dropdown-menu-visible': isDropdownMenuVisible}">
            <div class="dropdown-menu-content">
                <div class="container">
                    <div class="menu-container">
                        <div class="active" ng-class="{'active':currentModule == 'credit'}" ng-mouseover="showTab('tab1')">
                            <a href="#/credit">Кредит наличными</a></div>
                        <div ng-class="{'active':currentModule == 'cards'}" ng-mouseover="showTab('tab2')">
                            <a href="#/cards">Банковские карты</a></div>
                        <div><a href="">Ипотека</a></div>
                        <div><a href="">Автокредиты</a></div>
                        <div><a href="">Вклады и сбережения</a></div>
                    </div>
                </div>
                <div class="dropdown-menu-tab" ng-show="tab == 'tab1'">
                    <div class="container">
                        <div class="row dropdown-menu-content-credit">
                            <div class="col-xs-3">
                                <h3>«Быстрый»</h3>
                                до 1,5 млн руб.<br>на срок до 1 года
                            </div>
                            <div class="col-xs-3">
                                <h3>«Удобный»</h3>
                                до 400 000 руб.<br>на срок до 5 лет
                            </div>
                            <div class="col-xs-3">
                                <h3>«Крупный»</h3>
                                до 3 млн руб.<br>на срок до 5 лет
                            </div>
                            <div class="col-xs-3" style="border-left: 1px solid #ddd; padding-top: 20px">
                                <strong>Справочная информация</strong>
                                <ul>
                                    <li class="space">&nbsp;</li>
                                    <li><a href="">Как получить кредит</a></li>
                                    <li><a href="">Как погашать кредит</a></li>
                                    <li class="space">&nbsp;</li>
                                    <li><a href="">Тарифы</a></li>
                                    <li><a href="">Все вопросы по обслуживанию</a></li>
                                </ul>
                            </div>
                            <div class="col-xs-4">
                                <button class="btn btn-lg btn-danger">Сравнение кредитов</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dropdown-menu-tab ng-hide" ng-show="tab == 'tab2'">
                    <div class="container">
                        <div class="row dropdown-menu-content-credit">
                            <div class="col-xs-4 big">
                                <strong>Кредитные карты</strong><br><br>
                                <a href="">Классические кредитные карты</a><br><br>
                                <a href="">Золотые кредитные карты</a><br><br>
                                <a href="">Платиновые карты</a>
                            </div>
                            <div class="col-xs-5 big">
                                <strong>Пакеты услуг с дебетовыми картами</strong><br><br>
                                <a href="">Пакет «Классика»</a><br><br>
                                <a href="">Пакет «Золото»</a><br><br>
                                <a href="">Пакет «Привилегия»</a>
                            </div>
                            <div class="col-xs-3" style="border-left: 1px solid #ddd;">
                                <strong>Справочная информация</strong>
                                <br>
                                <ul>
                                    <li><a href="">Как получить кредит</a></li>
                                    <li><a href="">Как снять наличныет</a></li>
                                    <li><a href="">Как погашать кредит</a></li>
                                    <li><a href="">Безопасные платежи с 3D Secure</a></li>
                                    <li><a href="">Тарифы</a></li>
                                    <li><a href="">Все вопросы по обслуживанию</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dropdown-menu-blackout" ng-class="{'dropdown-menu-visible': isDropdownMenuVisible}" ng-click="toggleDropdownMenu()"></div>
    </div>
    <!-- ngView:  --><div style="" class="ng-scope" ng-view=""><div class="credit ng-scope">
    <div class="banner">
        <div class="container">
            <div class="row variants">
                <div class="col-xs-4 variant">
                    <h2>Кредит «Крупный»</h2>
                    <div class="description">
                        <strong>Крупная сумма</strong><br>
                        По минимальной ставке
                    </div>
                    <div class="percents">
                        17<sup>%</sup>
                    </div>
                    <p>Срок:&nbsp;13 — 60 мес.
                        <br>
                        Сумма:&nbsp;400 000 — 3 000 000 руб.*</p>
                    <button class="btn btn-lg btn-danger">Заполнить заявку</button>
                </div>
                <div class="col-xs-4 variant">
                    <h2>Кредит «Быстрый»</h2>
                    <div class="description">
                        <strong>Фиксированная ставка</strong><br>
                        на короткий срок
                    </div>
                    <div class="percents">
                        18<sup>%</sup>
                    </div>
                    <p>Срок:&nbsp;13 — 60 мес.
                        <br>
                        Сумма:&nbsp;400 000 — 3 000 000 руб.*</p>
                    <button class="btn btn-lg btn-danger">Заполнить заявку</button>
                </div>
                <div class="col-xs-4 variant">
                    <h2>Кредит «Удобный»</h2>
                    <div class="description">
                        <strong>Комфортный платеж</strong><br>
                        по кредиту
                    </div>
                    <div class="percents">
                        <sup>от</sup>19<sup>%</sup>
                    </div>
                    <p>Срок:&nbsp;13 — 60 мес.
                        <br>
                        Сумма:&nbsp;400 000 — 3 000 000 руб.*</p>
                    <button class="btn btn-lg btn-danger">Заполнить заявку</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <a href="#/"><img src="vtb_meta_files/logo.png" class="pull-right"></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Кредиты наличными от ВТБ24</h1>
                <div class="title">Безграничные возможности для достижения ваших целей</div>
            </div>
        </div>
        <div class="row clearfix calculator">
            <div class="col-xs-7">
                <span class="pull-right value ng-binding">200 000 руб.</span>
                <h3>Сумма кредита</h3>
                <rzslider class="ng-isolate-scope" rz-slider-model="creditAmount" rz-slider-options="{
                          showSelectionBar: true,
                          keyboardSupport: false,
                          floor: 100000,
                          ceil: 3000000,
                          step: 10000}"><span class="rz-bar-wrapper"><span class="rz-bar"></span></span> <span style="opacity: 1; width: 39.2586px; left: 0px;" class="rz-bar-wrapper"><span class="rz-bar rz-selection" ng-style="barStyle"></span></span> <span style="left: 21.2586px;" tabindex="" aria-valuemax="3000000" aria-valuemin="100000" aria-valuetext="200000" aria-valuenow="200000" role="slider" class="rz-pointer"></span> <span style="display: none;" class="rz-pointer"></span> <span style="opacity: 1;" class="rz-bubble rz-limit">100000</span> <span style="opacity: 1; left: 652.5px;" class="rz-bubble rz-limit">3000000</span> <span style="opacity: 1; left: 39.2586px;" class="rz-bubble">200000</span> <span style="opacity: 0;" class="rz-bubble"></span> <span style="opacity: 0;" class="rz-bubble"></span><ul ng-show="showTicks" class="rz-ticks ng-hide"><!-- ngRepeat: t in ticks track by $index --></ul></rzslider>
                <div class="range">
                    <div>100 000 руб.</div>
                    <div>1 500 000 руб.</div>
                    <div>3 000 000 руб.</div>
                </div>
            </div>
            <div class="col-xs-4 col-xs-offset-1 pull-right result">
                <strong>Вам подходит</strong>
                <h2>Кредит «Крупный»</h2>
                <div class="payment ng-binding">
                    <div class="small">Ежемесячный платеж</div>
                    28 000 руб.
                </div>
                <div class="percents ng-binding">
                    <div class="small">Ставка</div>
                    18<sup>%</sup>
                </div>
                <div class="overpay ng-binding">
                    <div class="small">Переплата</div>
                    24 000<sup> руб.</sup>
                </div>
                <button class="btn btn-lg btn-danger" ng-click="openModal()">Заполнить заявку</button>
            </div>
            <div class="col-xs-7">
                <span class="pull-right value ng-binding">8 месяцев</span>
                <h3>Сумма кредита</h3>
                <rzslider class="ng-isolate-scope" rz-slider-model="creditTime" rz-slider-options="{
                          showSelectionBar: true,
                          keyboardSupport: false,
                          floor: 6,
                          ceil: 60,
                          step: 1}"><span class="rz-bar-wrapper"><span class="rz-bar"></span></span> <span style="opacity: 1; width: 40.8333px; left: 0px;" class="rz-bar-wrapper"><span class="rz-bar rz-selection" ng-style="barStyle"></span></span> <span style="left: 22.8333px;" tabindex="" aria-valuemax="60" aria-valuemin="6" aria-valuetext="8" aria-valuenow="8" role="slider" class="rz-pointer"></span> <span style="display: none;" class="rz-pointer"></span> <span style="opacity: 1;" class="rz-bubble rz-limit">6</span> <span style="opacity: 1; left: 652.5px;" class="rz-bubble rz-limit">60</span> <span style="opacity: 1; left: 40.8333px;" class="rz-bubble">8</span> <span style="opacity: 0;" class="rz-bubble"></span> <span style="opacity: 0;" class="rz-bubble"></span><ul ng-show="showTicks" class="rz-ticks ng-hide"><!-- ngRepeat: t in ticks track by $index --></ul></rzslider>
                <div class="range">
                    <div>6 мес</div>
                    <div style="padding-left: 65px;">3 года</div>
                    <div>5 лет</div>
                </div>
                <div class="salary">
                    <input class="ng-pristine ng-untouched ng-valid" id="salaryToCard" ng-model="salaryToCard" type="checkbox">
                    <label for="salaryToCard">Я получаю зарплату на карту ВТБ24</label>
                </div>
                <div class="info">* До&nbsp;5&nbsp;000&nbsp;000&nbsp;руб. для держателей зарплатных карт ВТБ24.</div>
            </div>
        </div>
    </div>
    <div class="container-fluid tabs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul>
                        <!-- ngRepeat: t in tabs --><li class="ng-scope active" ng-class="{'active': tab.id == t.id}" ng-repeat="t in tabs">
                            <a class="ng-binding" href="" ng-click="changeTab(t.id)">Документы</a>
                        </li><!-- end ngRepeat: t in tabs --><li class="ng-scope" ng-class="{'active': tab.id == t.id}" ng-repeat="t in tabs">
                            <a class="ng-binding" href="" ng-click="changeTab(t.id)">Требования к&nbsp;заемщику</a>
                        </li><!-- end ngRepeat: t in tabs --><li class="ng-scope" ng-class="{'active': tab.id == t.id}" ng-repeat="t in tabs">
                            <a class="ng-binding" href="" ng-click="changeTab(t.id)">Погашение кредита</a>
                        </li><!-- end ngRepeat: t in tabs --><li class="ng-scope" ng-class="{'active': tab.id == t.id}" ng-repeat="t in tabs">
                            <a class="ng-binding" href="" ng-click="changeTab(t.id)">Страхование</a>
                        </li><!-- end ngRepeat: t in tabs -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container tab-container">
        <div class="row">
            <div class="col-xs-11">
                <!-- ngInclude: tab.url --><div style="" class="ng-scope" ng-include="tab.url"><h3 class="ng-scope">Чтобы взять кредит наличными, предоставьте в&nbsp;банк следующие документы:</h3>
<ul class="ng-scope">
    <li><span>паспорт гражданина&nbsp;РФ</span></li>
    <li><span>справку 2-НДФЛ или справку по&nbsp;форме банка о&nbsp;доходах за&nbsp;последние полгода</span></li>
    <li><span>страховое свидетельство государственного пенсионного страхования (СНИЛС)</span></li>
</ul>
<p class="info ng-scope">Для получения кредита на&nbsp;сумму, 
превышающую 400&nbsp;тыс. рублей, нужно предоставить копию трудовой 
книжки или трудового договора, заверенную в&nbsp;отделе кадров 
по&nbsp;месту работы.</p>
<h4 class="ng-scope">Зарплатным клиентам:</h4>
<ul class="ng-scope">
    <li><span>нужно предоставить паспорт гражданина&nbsp;РФ, а&nbsp;также</span></li>
    <li><span>желательно страховое свидетельство государственного пенсионного страхования (СНИЛС).</span></li>
</ul>
<p class="info ng-scope">При рассмотрении заявки на&nbsp;кредит наличными, сотрудники банка имеют право запросить дополнительные документы.</p></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row steps">
            <div class="col-xs-4">
                <img src="vtb_meta_files/0.gif" class="icon icon-1"><br>
                Ознакомьтесь с требованиями<br>
                Банка к заемщикам и подготовьте<br>
                необходимые документы
            </div>
            <div class="col-xs-4">
                <img src="vtb_meta_files/0.gif" class="icon icon-2"><br>
                Оформите <a href="" ng-click="openModal()">заявку на кредит</a><br>
                на сайте Банка, в любом офисе ВТБ24<br>
                или по телефону 8 (800) 100-24-24
            </div>
            <div class="col-xs-4">
                <img src="vtb_meta_files/0.gif" class="icon icon-3"><br>
                После одобрения приходите<br>
                в офис Банка с документами<br>
                и получите деньги
            </div>
        </div>
    </div>
    <div class="container-fluid bottom-banner">
        <div class="container">
            <div class="row">
                <div class="col-xs-7">
                    <h2>Как получать больше от&nbsp;своих денег?</h2>
                    <p>Сбросьте оковы зарплатного рабства! Вы можете получать от своей зарплаты
                    больше уже сегодня. Достаточно оформить карту ВТБ24 и ежемесячно
                    переводить на нее деньги.</p>
                    <button class="btn btn-lg btn-danger">Узнайте больше</button>
                </div>
                <div class="col-xs-5 bottom-banner-img-wrapper"><img src="vtb_meta_files/banner-bottom-img.png" class="bottom-banner-img img-responsive"></div>
            </div>
        </div>
    </div>
    <!-- ngInclude: 'tpls/menu.html' --><div style="" class="ng-scope" ng-include="'tpls/menu.html'"><div class="container ng-scope">
    <ul class="bottom-menu">
        <li><a href="">О банке</a></li>
        <li><a href="">Реквизиты</a></li>
        <li><a href="">Пресс-центр</a></li>
        <li><a href="">Карьера в ВТБ24</a></li>
        <li><a href="">Контакты</a></li>
    </ul>
</div></div>
</div>
<!-- ngInclude: 'tpls/footer.html' --><div style="" class="ng-scope" ng-include="'tpls/footer.html'"><hr class="main ng-scope">
<div class="container ng-scope">
    <div class="row footer">
        <div class="col-xs-7">
            <img src="vtb_meta_files/0.gif" class="asv">
            <p>Вклады ВТБ24 застрахованы в Государственной  корпорации «Агентство по страхованию вкладов»</p>
            <a href="">Ставки по договорам вклада с физическими лицами</a>
        </div>
        <div class="col-xs-1">
            <a href="" class="pull-right"><img src="vtb_meta_files/0.gif" class="social-icon social-icon-facebook"></a>
        </div>
        <div class="col-xs-1">
            <a href="" class="pull-right"><img src="vtb_meta_files/0.gif" class="social-icon social-icon-twitter"></a>
        </div>
        <div class="col-xs-1">
            <a href="" class="pull-right"><img src="vtb_meta_files/0.gif" class="social-icon social-icon-vk"></a>
        </div>
        <div class="col-xs-1">
            <a href="" class="pull-right"><img src="vtb_meta_files/0.gif" class="social-icon social-icon-youtube"></a>
        </div>
        <div class="col-xs-1">
            <a href="" class="pull-right"><img src="vtb_meta_files/0.gif" class="social-icon social-icon-ok"></a>
        </div>
    </div>
</div></div></div>

</body></html>